
$yellow : #f7aa02;

.container{


    border: 2px solid;
    margin:auto;
    margin-top: 300px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    border-radius: 15px;
    .photo{
        width: 400px;
        margin-left: -10px;
    }
    article{
        width: 60%;
        margin-right: 100px;
        
        h3{
            color: $yellow;
            font-family: 'Fredoka One', cursive;
            font-size: 3rem;
        }
        p{
            font-family: 'Kanit', sans-serif;
            font-size: 1.5rem;
        }
    }
}