$fondo : #333;
$yellow : #f7aa02;

nav{
    
    top: 0;
    left: 0;
    padding: .4rem;
    background-color: $fondo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3rem;

    

    .links{
        font-family: 'Pacifico', cursive;
        position: absolute;
        top : -700px;
        left : -2000px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        a{
            color: #333;
            font-size: 2rem;
            display: block;
        }

        a:hover{
            color: $yellow;
            transition: all 0.7s ease;
        }

        @media(min-width : 768px){
                position: initial;
                margin: 0;
                a{
                    
                    font-size: 1rem;
                    color: white;
                    display: inline;
                    
                }
        }
    }

    .links.active{

        width: 100%;
        display: block;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 30%;
        left: 0%;
        right: 0%;
        text-align: center;
        transition: all 1s ease;

        a{
            font-size: 2rem;
            margin-top: 1rem;
            color: white;
        }

    }



    

    h1{
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-weight: 400;
        span{
            font-weight: bold;
        }
    }
    
    a{

        
        text-decoration: none;
        margin-right: 1rem;

    }
    .burguer{

        @media(min-width : 768px) {

            display: none;
            
        }

    }

    .initial{

        position: fixed;
        background:#333;
        top: -700px;
        left: -5000px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all .7s ease;
        &.active{
            border-radius: 0 0 80% 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
            
        }
     
    
    
    
    }
    
}






