$yellow : #f7aa02;

.container-options{

    width: 400px;
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    background-color: white;
    border-radius: 10%;
    justify-content: space-between;

    h2{

        font-family: 'Pacifico', cursive;
        font-size: 2.5rem;
        color: $yellow;

    }

    .number{
        font-family: 'Fredoka One', cursive;
        font-size: 3rem;
        text-align: center;
    }
    .text{
        font-family: 'Kanit', sans-serif;
        font-size: 1rem;
        text-align: justify;
    }
    
    .boton{
       
        background-color: #f7aa02;
        color: antiquewhite;
        font-size: 2rem;

    }
}